.row.endpoint-view
  .sidebar(resize, ng-controller="SidebarCtrl")

    .input-group.filter
      span.input-group-addon
        i.glyphicon.glyphicon-search
      input.form-control(type="text", ng-model="endpointFilter", placeholder="by term")
      span.input-group-btn
        button.btn.btn-default(ng-click="endpointFilter = null") Clear

    ul.nav.nav-pills.nav-stacked.endpoints
      li(ng-repeat="e in endpoints | filter:endpointFilter",
        scroll-if="e === endpoint",
        ng-class="{active: e === endpoint}")
        a(href="#/{{e.identifier}}") {{e.name}}

  .endpoint

    .header.alert
      .since Since version: {{endpoint.minVersion}}
      h2 {{endpoint.name}}


    tabset(justified="true")
      tab(ng-repeat="m in endpoint.methods",
        select="methodChanged()",
        deselect="methodChanged()",
        active="m.active",
        heading="{{m.HTTPMethod}} {{m.URI}}")

        .method(ng-controller="MethodCtrl")

          .auth-info(ng-show="m.RequiresAuthentication")
            span.label(ng-class="{'label-danger': !auth.loggedIn, 'label-success': auth.loggedIn}") Requires authentication

          h3 {{m.Synopsis}}

          accordion(close-others="true")
            accordion-group.accordion-panel.summary(
              is-open="show.desc || (show.params && !(params.length || m.body.length))",
              heading = "Description")
              .description(ng-if="htmlDesc", ng-bind-html="description")
              .description(ng-if="!htmlDesc") {{description}}

              button.btn.btn-large.btn-primary.pull-right(ng-click="run()") Try It!

            accordion-group.parameters.accordion-panel(ng-if="params.length || m.body.length", is-open="show.params", heading="Parameters")

              form.form-horizontal(role="form")

                http-parameter(ng-repeat="parameter in params")

                .method-body.form-group(ng-show="m.body.length")
                  label(ng-show="m.bodyDescription")
                    | {{m.bodyDescription}}
                  ng-switch(on = "m.body.length", ng-show="m.body.length")
                    .content-type(ng-switch-when="1")
                      | Content Type: {{ m.body[0].contentType }}
                    select.form-control(ng-switch-default, ng-model="m.bodyContentType")
                      option(ng-repeat="b in m.body") {{b.contentType}}

                  textarea.form-control(ng-model="m.content", ng-hide="m.bodyContentType == 'none'")

              button.btn.btn-primary(ng-click="run(m.HTTPMethod)") Run with these parameters

            accordion-group.results.accordion-panel(heading="Results", is-open="show.res")
              accordion
                accordion-group(ng-class="{'panel-success': res.code < 400, 'panel-danger': (res.code >= 400 && res.code < 500), 'panel-warning': res.code > 500}",
                                ng-repeat="res in m.results", is-open="{{$last}}")
                  accordion-heading {{$index + 1}}: {{res.query.httpMethod}} {{res.call}} {{res.code}}

                  include response-display

              .no-results(ng-if="!m.results.length")
                p.apology
                  | No results yet - click 
                  a.btn.btn-primary.btn-xs(ng-click="run()") here
                  |  to run this API method.

