accordion-group.api-response(
    ng-class="{'panel-info': res.code == 'pending', 'panel-success': res.code < 400, 'panel-danger': (res.code >= 400 && res.code < 500), 'panel-warning': res.code > 500}",
    ng-repeat="res in m.results",
    is-open="{{$last}}")
  accordion-heading
    button.close(type="button", ng-click="dismiss(res)") ×
    | {{$index + 1}}: {{res.query.httpMethod}} {{res.call}} {{res.code}}

  .response(ng-controller="ResponseCtrl")

    .parameters(ng-if="hasParams()")
      h4(ng-click="showparams = ! showparams")
        | Request Parameters
        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': showparams, 'glyphicon-chevron-right': !showparams}")

      table.table.table-condensed(ng-show="showparams")
        thead
          tr
            th Parameter
            th Value
        tbody
          tr(ng-repeat="(param, value) in params")
            td.param-name {{param}}
            td.param-value {{value}}

    .no-params(ng-if="!hasParams()") No parameters.

    .headers
      h4(ng-click="showheaders = ! showheaders")
        | Response Headers
        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': showheaders, 'glyphicon-chevron-right': !showheaders}")

      table.table.table-condensed(ng-show="showheaders")
        thead
          tr
            th Header
            th Value
        tbody
          tr(ng-repeat="(header, value) in headers")
            td.header-name {{header}}
            td.header-value {{value}}

    .progress.progress-striped.active(ng-if="res.code == 'pending'")
      .progress-bar(style="width: 100%")
    tabset.responses(type="navType", ng-if="res.code != 'pending'")
      tab.formatted(ng-if="formattedResponse")
        tab-heading Formatted
        .metadata
          span.label.label-info {{res.headers['content-type']}}
        pre.response {{formattedResponse}}
      tab.raw
        tab-heading Raw
        .metadata
          span.label.label-info {{res.headers['content-type']}}
        pre.response {{res.response}}
      tab.cooked(ng-if="browseable", select="makeBrowseableResponse()")
        tab-heading Browse
        div(ng-if="parsedData.length")
          button.btn.pull-right.btn-primary(type="button", ng-model="tree.expanded", btn-checkbox) Expand
          .parsed-data(angular-treeview, tree-model="parsedData", tree-id="responsetree")
        .progress.progress-striped.active(ng-if="!parsedData.length")
          .progress-bar(role="progressbar",
            aria-valuenow="{{currentParsed}}",
            aria-valuemin="0",
            aria-valuemax="{{totalPromises}}",
            style="width: {{percentDone}}%") {{percentDone}}%

      tab.view(ng-if="flatFile || isHTML")
        tab-heading View
        .from-html(ng-if="isHTML", ng-bind-html="cleanHTML")
        .from-flat-file(ng-if="flatFile")
          table.table
            thead
              tr
                th(ng-repeat="header in flatFile.headers track by $index") {{header}}
            tbody
              tr(ng-repeat="row in flatFile.rows")
                // Cells may have repeated values, since they are primitives.
                td(ng-repeat="cell in row track by $index") {{cell}}

