// views/custom

extends layout

block content

  .navbar.navbar-custom.navbar-default.navbar-fixed-top(role="navigation")
    .container-fluid
      .navbar-header
        .row
          .col-sm-10
            span.navbar-brand Add an InterMine Web-Service
          .col-sm-2
            ul.nav.navbar-nav
              li
                a(href="/")
                  i.glyphicon.glyphicon-th-large
                  |  See all

  div.container

    if error
      .alert.alert-danger
        p #{ error }
    .alert.alert-danger(ng-repeat="err in errors")
      p {{ err.msg }}

  .container
    p
      | You can submit the details of an API here, making its documentation
      | available to browse on this site. This makes the API documentation
      | publically available, so do be careful if you are not ready to release
      | to the public. Please note that your service must be accessible to the
      | the world in general (or specifically the machine hosting these docs),
      | since every API call needs to make a round trip to that server. Also, this
      | submission is only temporary and will disappear on the next restart. If you
      | would like your documentation to appear here permanently, please get
      | in touch with us at &nbsp;
      a(href="mailto:" + config.maintainerEmail)= config.maintainerEmail

  .container(ng-controller="CustomApiCtrl")
    form.form-horizontal.custom(method='POST', action="custom", name="customform")

      .form-group
        label.col-sm-2.control-label(for='slug')
          span Identifier
        .col-sm-10
          input.form-control(
            placeholder="A short identifier, no spaces",
            ng-model="slug", ng-pattern="pathPart", required="true", type='text', name='slug')
      .form-group
        label.col-sm-2.control-label(for='name')
          span Name
        .col-sm-10
          input.form-control(
            placeholder = "A more human readable name",
            ng-model="name", type='text', name='name')
      .form-group
        label.col-sm-2.control-label
          span URI
        .col-sm-10
          .input-group
            .input-group-btn(is-open = 'status.isopen', dropdown = true)
              button.btn.btn-default.dropdown-toggle
                | {{config.protocol}}://&nbsp;
                span.caret
              ul.dropdown-menu
                li
                  a(ng-click = 'config.protocol = "http"')
                    "http://"
                li
                  a(ng-click = 'config.protocol = "https"')
                    "https://"
            input.span3.form-control(ng-model="baseURL", ng-pattern="hostname", placeholder="host name", required="true", type='text', name='baseURL')
            span.input-group-addon /
            input.span3.form-control(ng-model="publicPath", placeholder="optional path", type='text', name='publicPath')
            span.input-group-addon /service

      input(type='hidden', name='protocol', ng-model='config.protocol')
      input(type='hidden', name='version', value='/version')
      input(type='hidden', name='auth', value='key')
      input(type='hidden', name='intermine', value='true')
      input(type='hidden', name='keyParam', value='token')
      input(type='hidden', name='booleanTrueVal', value='true')
      input(type='hidden', name='booleanFalseVal', value='false')

      button.btn.btn-large.btn-primary(type='submit', value='add')
        i.glyphicon.glyphicon-floppy-disk
        |  Add

block scripts
  script(src='/javascripts/vendor/angular.min.js')
  script(src='/javascripts/vendor/ui-bootstrap-tpls-0.10.0.js')
  script(src='/javascripts/custom-api.js')

// end views/custom
